/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.2;
  color: #555;
  text-rendering: optimizeLegibility; }
  @media screen and (max-width: 600px) {
    body {
      font-size: 1em; } }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 5px; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 17.5px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1 {
  font-size: 2.5em; }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 2em; } }

h2 {
  font-size: 1.6em; }
  @media screen and (max-width: 800px) {
    h2 {
      font-size: 1.2em; } }

h3 {
  font-size: 1.2em; }
  @media screen and (max-width: 800px) {
    h3 {
      font-size: 0.9em; } }

h4 {
  font-size: 1em; }
  @media screen and (max-width: 800px) {
    h4 {
      font-size: 0.8em; } }

h5 {
  font-size: 0.9em; }
  @media screen and (max-width: 800px) {
    h5 {
      font-size: 0.7em; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: Georgia, serif; }

/**
 * Links
 */
a {
  color: #98C1D9;
  text-decoration: none; }
  a:hover {
    color: #A7D3A6; }

/**
 * Blockquotes
 */
blockquote {
  font-family: serif;
  color: #666;
  border: 1px solid #cccccc;
  border-left: 4px solid #98C1D9;
  padding-left: 15px;
  font-style: italic;
  margin-left: 1em; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
.highlighter-rouge {
  font-family: inherit; }

pre,
code {
  border-radius: 3px;
  border: 1px solid #98C1D9;
  text-shadow: 0 0 0.1px; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto;
  font-size: 0.8em; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

* {
  -webkit-transition: all 0.2s;
  /* Safari */
  -webkit-transition-timing-function: linear;
  /* Safari */
  transition: all 0.2s;
  transition-timing-function: linear; }

/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid #cccccc;
  min-height: 56px;
  padding-bottom: 1em; }

.site-title {
  font-size: "4em";
  line-height: 2;
  letter-spacing: -1px;
  margin-bottom: 0;
  text-align: center;
  text-shadow: 0 0 1px; }
  .site-title, .site-title:visited {
    color: #666; }
  @media screen and (max-width: 800px) {
    .site-title {
      font-size: 3em; } }
  @media screen and (max-width: 600px) {
    .site-title {
      font-size: 2.75em; } }

/**
 * Site footer
 */
.site-footer {
  padding: 30px 0; }

/**
 * Page content
 */
/* .page-content {
    padding: $spacing-unit 0;
} */
.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 17.5px;
  color: #666;
  line-height: 0; }

.post-link {
  margin-right: 1em; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.site-nav {
  text-align: center; }

.nav-link {
  margin-left: 10px;
  border-radius: 2px;
  padding: 5px 10px;
  text-decoration: none;
  font-family: sans-serif;
  border: none; }
  .nav-link:hover {
    color: #fdfdfd;
    background: #98C1D9; }
  @media screen and (max-width: 800px) {
    .nav-link {
      font-size: 0.8em;
      margin-left: 5px; } }

table {
  margin: 15px 0;
  border-collapse: collapse;
  width: 100%;
  padding: 0; }

table tr {
  border-top: 1px solid #666;
  background-color: white;
  margin: 0;
  padding: 0; }

table tr:nth-child(2n) {
  background-color: #f8f8f8; }

table tr th {
  font-weight: bold;
  border: 1px solid #666;
  text-align: left;
  margin: 0;
  padding: 6px 13px; }

table tr td {
  border: 1px solid #666;
  text-align: left;
  margin: 0;
  padding: 6px 13px; }

table tr th :first-child, table tr td :first-child {
  margin: 0; }

table tr th :last-child, table tr td :last-child {
  margin: 0; }

#markdown-toc::before {
  content: "Contents";
  font-weight: bold; }

#markdown-toc ul {
  list-style: decimal; }

#markdown-toc {
  border: 1px solid #98C1D9;
  padding: 1.5em;
  list-style: decimal;
  display: inline-block; }

.video {
  width: 100%;
  height: 360px; }
  @media screen and (max-width: 800px) {
    .video {
      height: 300px; } }
  @media screen and (max-width: 600px) {
    .video {
      height: 180px; } }

.post {
  margin-bottom: 2em; }

.page-content {
  margin-top: 40px; }

/*# sourceMappingURL=main.css.map */
